<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Bolibot, Bolibot</a></li>
                <li><a href="#whoAmI">Who am i</a></li>
                <li><a href="#whatDoIDo">What do i do</a></li>
                <li><a href="#support">Get in touch</a></li>
            </ul>
        </nav>
    </div>
</section>

